/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f4ec;
}

header {
    background-color: #9B59B6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav a {
    text-decoration: none;
    color: #fff;
}

section img{
    padding: 10px;
    align-items: center;
    
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

form label, form textarea, form input, form button {
    display: block;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(14, 13, 13);
    color: #fff;
}
h1{
    font-size: 40px
}
h2{
    font-size: 40px
}
p{
    font-size: 30px
}
li{
    font-size: 30px
}
.contact form{
    padding: 10px 0;
    align="center";
    text-align: center;
}
label{
    text-align: center;
    font-size: 30px;
}
input{
    text-align: center;
}
button {
    font-size: 30px;
}